{% extends 'base.html' %}


{% block content %}
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_edit' mealplan_detail.id %}">Edit</a>
        <a href="{% url 'meal_delete' mealplan_detail.id %}">Delete</a>
    </div>
    <h1>{{ mealplan_detail.name }}</h1>
    <p>
        Date on {{mealplan_detail.date }}
    </p>
</main>
{% endblock content %}
