{% extends 'paginate.html' %}


{% block content %}
<main class="recipe-grid">
  {% for meal in mealplan_list %}
  <div class="recipe-card">
    <h2 class="recipe-card-title">
      <a href="{% url 'meal_detail' meal.pk %}">{{ meal.name }}</a>
    </h2>
    {% for recipe in meal.recipes.all %}
    <p>
      <a href="{% url 'recipe_detail' recipe.pk %}">{{recipe.name}}</a>
    </p>
    {% endfor %}
    <p>
      {{meal.date}}
    </p>
  </div>
  {% empty %}
  <div>
    <h1>No meals, yet</h1>
    <p>
      Would you like to
      <a href="{% url 'meal_new' %}">create</a>
      one?
    </p>
  </div>
  {% endfor %}
</main>
{% endblock content %}
